<div>
  <h3>Seleccionar Fecha de Ingreso</h3>
  <div class="contenedor-fecha">
    <!-- Selector de Mes -->
    <label class="mes-label" for="month">Mes:</label>
    <select class="select-mes" id="month" [(ngModel)]="selectedMonth" (change)="updateDays()">
      <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
    </select>

    <!-- Selector de Año -->
    <label for="year" class="año-label">Año:</label>
    <select id="year" class="año-select" [(ngModel)]="selectedYear" (change)="updateDays()">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>

    <!-- Mostrar los días disponibles -->
    <label for="day" class="label-dia">Día:</label>
    <select id="day" class="select-dia" [(ngModel)]="selectedDay">
      <option *ngFor="let day of days" [value]="day">{{ day }}</option>
    </select>
  </div>

  <!-- Registro de ingreso -->
  <div>
    <h4>Registro de Ingreso</h4>
    <p>Fecha seleccionada: {{ selectedDay }} de {{ months[selectedMonth - 1]?.name }} del {{ selectedYear }}</p>
    <div class="lista-ingresos">
      <label class="label-concepIng" for="concept">Concepto de Ingreso:</label>
      <input id="concept" [(ngModel)]="incomeConcept" type="text" />

      <label class="label-cantidad" for="amount">Monto:</label>
      <input id="amount" [(ngModel)]="incomeAmount" type="number" />

      <button class="icono-guardar" (click)="saveIncome()"><i class="fa-regular fa-floppy-disk"></i></button>
    </div>

    <h4>Lista de ingresos del {{ selectedDay }} de {{ months[selectedMonth - 1]?.name }} del {{ selectedYear }}</h4>
    <ul>
      <li *ngFor="let income of filteredIncomes">
        <strong>{{ income.concepto }}</strong> - {{ income.monto | currency }}
      </li>
    </ul>
  </div>
</div>
