<!-- login.component.html -->

<div class="login">
  <form [formGroup]="loginForm" class="custom-form" (ngSubmit)="login()">    <h1>Iniciar sesion</h1>
    <input
      type="email"
      formControlName="email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      formControlName="contrasena"
      name="password"
      placeholder="Contraseña"
      required="required"
    />
    <button type="submit">Iniciar sesion</button>
    <a [routerLink]="['/register']">Registrar</a>
  </form>
  <p *ngIf="mensajeErr" style="color: red;">{{ mensajeErr }}</p>

</div>
