
<div class="container">
  <div class="left-panel">
    <div class="logo">HÁBITO DE ORO</div>
    <div class="back-link"><a href="#">Organiza tus gastos, construye tus sueños</a></div>
    <div class="image">
      <img src="icons/img5.jpg" alt="Desert dunes">
    </div>
  </div>
  <div class="right-panel">
    <h1>LOGEAR</h1>
    <p>¿No tienes una cuenta? <a [routerLink]="['/register']" class="enlace_registrar">Registrate</a></p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        required
      />
      <div *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)">
        <div *ngIf="emailControl?.errors?.['required']">
          El email es requerido.
        </div>
        <div *ngIf="emailControl?.errors?.['email']">
          El email debe tener un formato válido.
        </div>
      </div>
      <div class="password-group">
        <input
        type="password"
        placeholder="Contraseña"
        formControlName="contrasena"
        required
      />
        <button type="button">👁</button>
      </div>
      <button type="submit" class="create-btn" [disabled]="loginForm.invalid">Iniciar Sesión</button>
    </form>
    <div class="divider">Registrate con</div>
    <div class="social-buttons">
      <button class="google-btn">Google</button>
      <button class="apple-btn">Apple</button>
    </div>
  </div>
</div>
