<!-- login.component.html -->

<div class="login">
  <form [formGroup]="loginForm" class="custom-form" (ngSubmit)="login()">    <h1>Iniciar sesion</h1>
    <input
      type="email"
      formControlName="email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <div *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)">
      <div *ngIf="emailControl?.errors?.['email']">
        El email debe tener un formato válido.
        </div>
    </div>
    <input
      type="password"
      formControlName="contrasena"
      name="password"
      placeholder="Contraseña"
      required="required"
    />
    <button type="submit">Iniciar sesion</button>
    <a [routerLink]="['/register']">Registrar</a>
  </form>
</div>
