
<div class="container">
  <div class="left-panel">
    <div class="logo">HÁBITO DE ORO</div>
    <div class="back-link"><a href="#">Ahorrar hoy es invertir en tu futuro</a></div>
    <div class="image">
      <img src="icons/img6.jpg" alt="Desert dunes">
    </div>
  </div>
  <div class="right-panel">
    <h1>CREAR CUENTA</h1>
    <form [formGroup]="registreForm" class="custom-form" (ngSubmit)="registrar()">
      <input
        type="email"
        formControlName="email"
        name="email"
        placeholder="Email"
        required
      />
      <div *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)">
        <div *ngIf="emailControl?.errors?.['required']">
          El Email es requerido.
        </div>
        <div *ngIf="emailControl?.errors?.['email']">
          El email debe tener un formato válido.
        </div>
      </div>

      <div class="password-group">
        <input
          type="password"
          formControlName="contrasena"
          name="password"
          placeholder="Contraseña"
          required
        />
        <button type="button">👁</button>
        <div *ngIf="getcontrasena?.invalid && (getcontrasena?.dirty || getcontrasena?.touched)">
          <div *ngIf="getcontrasena?.errors?.['required']">
            La contraseña es requerida.
          </div>
          <div *ngIf="getcontrasena?.errors?.['pattern']">
            La contraseña debe tener un formato válido.
          </div>
        </div>

        <input
          type="password"
          formControlName="confirmcontrasena"
          name="confirmPassword"
          placeholder="Confirmar Contraseña"
          required
        />
        <button type="button">👁</button>
        <div *ngIf="getconfirmcontrasena?.invalid && (getconfirmcontrasena?.dirty || getconfirmcontrasena?.touched)">
          <div *ngIf="getconfirmcontrasena?.errors?.['required']">
            Es necesario confirmar la contraseña.
          </div>
          <div *ngIf="getconfirmcontrasena?.errors?.['mustMatch']">
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>

      <button type="submit" class="create-btn">Registrar</button>
    </form>
    <div class="divider">
      <a class="enlace_registrar" [routerLink]="['/login']">Iniciar Sesión</a>
    </div>
  </div>
</div>
